{% extends "html_layout.html" %}

{% block content %}
<div class="container mt-4">
  <h2>About Us</h2>
  <p>This console and web application was created by TJ Tryon, and is free to use under
the MIT Open Source license, as long as credit for the program is given to TJ Tryon. This
program has been created as a final project for Harvard CS50, and includes a working consone application for timing cross country and road races. It additionally includes a flask application for the administration, as well as the public viewing of both individual and team scoring results. Any question should be addressed at the Help page or the Contact Us pages. </p>
</div>
{% endblock %}
